run = "swift run"

compile = "swift build || swift package clean && clear"

entrypoint = "README.md"

hidden = [".build", ".git"]

[nix]
channel = "stable-22_11"

[languages]

[languages.swift]
pattern = "**/*.swift"

[languages.swift.languageServer]
start = "sourcekit-lsp"
